/*utilities*/
/*base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #1e1e1e;
  margin: 0 4.45%; }
  body hr {
    margin: .5rem 0; }

@font-face {
  font-family: "roboto";
  src: url(../assets/font/roboto-regular.ttf); }

@font-face {
  font-family: "roboto mono";
  src: url(../assets/font/robotoMono-regular.ttf); }

/*layout*/
body header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 2.55% 0; }
  body header div a {
    font-family: "roboto mono";
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: white; }
  body header nav {
    width: 765px; }
    body header nav .navbar {
      display: flex;
      flex-wrap: wrap;
      list-style: none; }
      body header nav .navbar li {
        margin-left: 7.6%; }
        body header nav .navbar li a {
          font-family: "roboto mono";
          font-size: 1rem;
          font-weight: 400;
          text-decoration: none;
          color: white; }

body .desktop-no .burger-no {
  display: none; }

body footer {
  display: flex;
  flex-wrap: wrap;
  margin: 4.5% 0%;
  justify-content: space-between;
  align-items: center; }
  body footer div .ul-footer {
    font-family: "roboto";
    font-size: 1rem;
    font-weight: 400;
    list-style: none; }
    body footer div .ul-footer li a {
      line-height: 190%;
      text-decoration: none;
      color: white; }
    body footer div .ul-footer li .specific-fontstyle-footer1 {
      font-size: 1.25rem;
      font-weight: 600; }
    body footer div .ul-footer li .specific-fontstyle-footer3 {
      font-weight: 700; }
    body footer div .ul-footer .specific-fontstyle-footer2 {
      font-family: "roboto";
      font-size: .875rem;
      font-weight: 400;
      color: #999999;
      margin-top: 55%; }
  body footer div .social-networks-column {
    width: 235px;
    display: flex;
    list-style: none; }
    body footer div .social-networks-column .desktop-no {
      display: none; }
    body footer div .social-networks-column li {
      margin-left: 16%; }

body .desktop-no .privacy-responsive-one {
  display: none; }

/*components*/
.navbar .on-page a {
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 15px 10px; }

/*mediaqueries*/
@media (max-width: 1029px) {
  body {
    margin: 0 2.67%; } }

@media (max-width: 990px) {
  body header {
    flex-wrap: nowrap; }
    body header div {
      margin-left: 7%; }
      body header div a {
        font-size: 1.625rem; }
    body header .delete-this-responsive {
      display: none;
      /* long navbar, no burger */ }
  body .desktop-no .burger-no {
    display: unset;
    margin-right: 5%;
    /* bootstrap */ }
  body footer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    margin: 2% 0; }
    body footer div ul {
      padding: unset; }
      body footer div ul li a {
        line-height: 1.89; }
    body footer .footer-div-one {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
      text-align: center; }
      body footer .footer-div-one ul .specific-fontstyle-footer2 {
        display: none; }
    body footer .footer-div-two {
      grid-column: 1 / 2;
      grid-row: 2 / 4;
      text-align: center; }
    body footer .footer-div-three {
      grid-column: 2 / 4;
      grid-row: 2 / 4;
      text-align: center; }
    body footer .footer-div-four {
      grid-column: 4 / 5;
      grid-row: 2 / 4;
      text-align: unset;
      margin: unset; }
      body footer .footer-div-four .social-networks-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: unset;
        margin: unset;
        gap: 15px;
        list-style: none;
        padding: unset; }
        body footer .footer-div-four .social-networks-column li {
          margin-left: unset; }
    body footer .footer-div-five {
      grid-column: 2 / 4;
      grid-row: 4 / 5; }
      body footer .footer-div-five ul {
        list-style: none;
        padding: unset;
        text-align: center; }
        body footer .footer-div-five ul li a {
          text-decoration: none;
          font-family: "roboto";
          font-size: .875rem;
          font-weight: 400;
          color: #999999; }
  body .desktop-no .privacy-responsive-one {
    display: unset;
    margin-top: 8%; } }

body {
  margin: 0 2.5%; }
  body footer div .ul-footer {
    padding: unset; }

@media (max-width: 545px) {
  body footer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 25% 25% 20% 15%;
    margin: 0; }
    body footer div .ul-footer {
      padding: unset; }
      body footer div .ul-footer li a {
        line-height: 1.89; }
    body footer .footer-div-one {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
      text-align: center; }
    body footer .footer-div-two {
      grid-column: 1 / 3;
      grid-row: 2 / 4;
      text-align: center; }
    body footer .footer-div-three {
      grid-column: 3 / 5;
      grid-row: 2 / 4;
      text-align: center; }
      body footer .footer-div-three .ul-footer .mobile-no {
        display: none; }
    body footer .footer-div-four {
      grid-column: 2 / 4;
      grid-row: 4 / 5;
      text-align: unset;
      margin: unset; }
      body footer .footer-div-four .social-networks-column {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: unset;
        width: unset;
        margin: unset;
        padding: unset;
        gap: 20%;
        list-style: none; }
        body footer .footer-div-four .social-networks-column li {
          margin-left: unset; }
        body footer .footer-div-four .social-networks-column .desktop-no {
          display: unset; }
    body footer .footer-div-five {
      grid-column: 2 / 4;
      grid-row: 5 / 6;
      text-align: center; }
      body footer .footer-div-five ul li a {
        text-decoration: none;
        font-family: "roboto";
        font-size: .875rem;
        font-weight: 400;
        color: #999999; } }
