/*width: 1440px*/
body {
    .grid-inicio {
        display: grid;
        width: 100%;
        grid-template-columns: 19% 18% 21% 21% 21%;
        justify-content: center;
        margin: 1% 0;
        .section-1 {
            grid-column: 1 / 3;
            margin-right: 6%;
            border-radius: 30px;
            background-color: #0A84FF;
            h1 {
                font-family: "roboto";
                font-size: 3rem;
                font-weight: 900;
                color: white;
                margin: 15% 1% 0% 11%;
                padding: 0 5% 0 0;
            }
            article {
                p {
                    font-family: "roboto";
                    font-size: 2rem;
                    font-weight: 500;
                    color: white;
                    margin: 0% 9%;
                }
            }
            button {
                font-family: "roboto";
                font-size: 1.5rem;
                font-weight: 400;
                width: 45%;
                margin: 0% 100% 15% 10%;
                border-radius: 30px;
                border-width: 0;
                padding: 4% 10%;
                background-color: black;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
        .section-1-flex {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .section-2 {
            grid-column: 3 / 6;
            .desktop-inicio-svg-container {
                width: 100%;
                height: 100%;
                .desktop-inicio-svg {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }
    }
}