@mixin grid-armatupc ($row, $column, $font-family, $color) {
    grid-row: #{$row};
    grid-column: #{$column};
    font-family: $font-family;
    color: $color;
}

@mixin armatupc-font-style-one ($font-family, $font-size, $font-weight, $color, $marg) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
    margin: $marg;
}

@mixin ul-armatupc {
    line-height: 35px;
    list-style: none;
    padding: unset;
    margin: 0 10% 1.5% 10%;
}

@mixin armatupc-section-subtitle {
    letter-spacing: 10px;
    text-align: center;
    margin-top: 2.5%;
}