@media (max-width: 1294px) {
    body {
        .grid-inicio {
            .section-1 {
                h1 {
                    font-size: 2.4rem;
                    font-weight: 800;
                }
                article {
                    p {
                        font-size: 1.6rem;
                    }
                }
                button {
                    font-size: 1.37rem;
                }
            }
        }
    }
}