@media (max-width: 805px) {
    body {
        .grid-inicio {
            .section-1 {
                h1 {
                    font-size: 1.625rem;
                }
                article {
                    p {
                        font-size: 1.125rem;
                    }
                }
                button {
                    font-size: 1rem;
                }
            }
        }
    }
}