@media (max-width: 1132px) {
    body {
        .grid-inicio {
            .section-1 {
                h1 {
                    font-size: 2rem;
                }

                article {
                    p {
                        font-size: 1.5rem;
                    }
                }

                button {
                    font-size: 1.25rem;
                }
            }
        }
        .grid-armatupc {
            @include width-height (unset, 7200px);
            @include display-grid-container (grid, 25% 25% 25% 25%, 7% 1.3% 17.6% 18.1% 18.4% 12.5% 12.4% 12.7%, unset);
        }
    }
}