@media (max-width: 744px) {
    body {
        margin: 0 2.5%;
        .grid-inicio {
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: 225px 73.7%;
            margin: 2% 0;
            .section-1 {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
                margin-right: 0%;
                h1 {
                    grid-column: 1 / 4;
                    grid-row: 1 / 2;
                    font-family: "roboto";
                    font-size: 1.5rem;
                    font-weight: 900;
                    color: white;
                    margin: 3% 5% 1% 5%;
                    padding: 0;
                    text-align: center;
                }
                article {
                    grid-column: 1 / 3;
                    grid-row: 2 / 3;
                    align-self: center;
                    justify-self: center;
                    margin: 1% 20% 3% 10%;
                    p {
                        font-family: "roboto";
                        font-size: 1.25rem;
                        font-weight: 500;
                        color: white;
                        margin: unset;
                        padding: unset;
                        width: unset;
                        text-align: center;
                    }
                }
                button {
                    grid-column: 3 / 4;
                    grid-row: 2 / 3;
                    font-family: "roboto";
                    font-size: 1.25rem;
                    font-weight: 400;
                    width: 70%;
                    height: 40%;
                    margin: 15% 0 0 10%;
                    padding: unset;
                    border-radius: 30px;
                    border-width: 0;
                    padding: unset;
                    background-color: black;
                    a {
                        text-decoration: none;
                        color: white;
                        padding: 10%;
                    }
                }
            }
            .section-1-flex {
                display: grid;
                grid-template-columns: repeat(2, 1fr) 40%;
                grid-template-rows: 30% 70%;
            }
            .section-2 {
                grid-column: 1 / 3;
                grid-row: 2 / 3;
                margin-top: 2%;
                .desktop-inicio-svg-container {
                    width: 100%;
                    height: 100%;
                    .desktop-inicio-svg {
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }
            }
        }
        .grid-armatupc {
            @include width-height (unset, 6000px);
            @include display-grid-container (grid, 25% 25% 25% 25%, 7.2% 2.3% 17.4% 18.2% 18.1% 12% 12.1% 12.7%, unset);
            .section-armatupc-1 {
                article {
                    h1 {
                        @include font-styles ("roboto", 2rem, 800, white, 0.1rem);
                    }
                    p {
                        @include font-styles ("roboto", 1.2rem, 500, white, 0.02rem);
                        @include margin-border-padding (0.4rem 0, 0, 0.1rem 2rem);
                    }
                    .paragraph-two {
                        @include font-styles ("roboto", 1.15rem, 500, black, 0.01rem);
                        @include margin-border-padding (0.1rem 0, 0, 1.5rem 1.4rem);
                    }
                }
            }
            .section-armatupc-2 {
                @include display-grid-item ("1 / 5", "2 / 3", unset, unset);
                ul {
                    @include display-grid-container (grid, 33% 33% 33%, 50% 50%, unset);
                    .requisitoscs2 {
                        @include display-grid-item ("1 / 2", "1 / 2", center, unset);
                        @include margin-border-padding (5% 0, unset, 0.5% 1.5%);
                        a {
                            @include font-styles ("roboto mono", .875rem, 400, white, 0.1rem);
                        }
                    }
                    .requisitoslol {
                        @include display-grid-item ("2 / 3", "1 / 2", center, unset);
                        @include margin-border-padding (unset, unset, 0.5% 1.5%);
                        a {
                            @include font-styles ("roboto mono", .875rem, 400, white, 0.1rem);
                        }
                    }
                    .requisitoselden {
                        @include display-grid-item ("3 / 4", "1 / 2", center, unset);
                        a {
                            @include font-styles ("roboto mono", .875rem, 400, white, 0.1rem);
                        }
                    }
                    .requisitosdavincir19 {
                        @include display-grid-item ("1 / 2", "2 / 3", center, unset);
                        a {
                            @include font-styles ("roboto mono", .875rem, 400, white, 0.1rem);
                        }
                    }
                    .requisitosblender {
                        @include display-grid-item ("2 / 3", "2 / 3", center, unset);
                        a {
                            @include font-styles ("roboto mono", .875rem, 400, white, 0.1rem);
                        }
                    }
                    .requisitosadobepp {
                        @include display-grid-item ("3 / 4", "2 / 3", center, unset);
                        a {
                            @include font-styles ("roboto mono", .875rem, 400, white, 0.1rem);
                        }
                    }
                }
                ul {
                    li {
                        a {
                            @include font-styles ("roboto mono", .875rem, 400, white, 0.1rem);
                        }
                    }
                }
            }
            .section-armatupc-3 {
                h2 {
                    @include font-styles ("roboto mono", 1.4rem, 400, white, 0.5rem);
                }
                article {
                    div {
                        h3 {
                            @include font-styles ("roboto", 1.15rem, 800, #409fff, 0.03rem);
                        }
                        ul {
                            li {
                                @include font-styles ("roboto", 1rem, 500, white, 0.01rem);
                                span {
                                    @include font-styles (unset, .875rem, 800, unset, 0.02rem);
                                }
                            }
                        }
                    }
                }
            }
            .section-armatupc-6 {
                h2 {
                    @include font-styles ("roboto mono", 1.4rem, 400, white, 0.5rem);
                }
                article {
                    div {
                        h3 {
                            @include font-styles ("roboto", 1.15rem, 800, #409fff, 0.03rem);
                        }
                        ul {
                            li {
                                @include font-styles ("roboto", 1rem, 500, white, 0.01rem);
                                span {
                                    @include font-styles (unset, .875rem, 800, unset, 0.02rem);
                                }
                            }
                        }
                    }
                }
            }
        }
        footer {
            div {
                .ul-footer {
                    padding: unset;
                }
            }
        }
    }
}